div {
  text-align: center;
}

h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.back-button {
  margin: 10px;
  padding-right: 30px;
}
.restart-button {
  background-color: red;
  padding: 8px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
  color: white;
}
h3 {
  font-size: 18px;
  font-weight: bold;
}
